/* ***------Google font "lato"--------*** */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* ***-------------Css Shared style----------------*** */

* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    border-radius: 8px;
    background: #e55473;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 5ps;
}

button:hover {
    background-color: blue;
}

button a {
    text-decoration: none;
    color: white;
}

header {
    background: rgba(229, 84, 115, 0.1);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-txt h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-txt * {
    margin-bottom: 35px;
    max-width: 530px;
}

.banner .banner-img img {
    width: 100%;
    padding-top: 10px;
}